@import 'tailwindcss';
@import '@nuxt/ui';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.vtb-item-players .vtb-player {
  padding: 0 !important;
  height: 100%;
  width: 100%;
}
button,
[role='button'] {
  cursor: pointer;
}
[role='button'][tabindex='-1'] {
  cursor: not-allowed;
}
